* {
  box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;

}
.bg-container{
    background-color: whitesmoke;
    height: 100%;
    min-height: 100vh;
    min-width: 180px;
    display: flex;
    flex-direction: column;


   
}

h2{
    margin-bottom: 0px;
    margin-top: 0px;
}


/* sidebar start */
.sidebar{
    background-color: rgb(255, 199, 110);
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
 
 
}

.sidebar button{
    text-transform: capitalize;
    padding: 0;
border: none;
background: none;
font-weight: bold;
padding: 5px;
cursor: pointer;

}

/* .sidebar button:focus{
    color: blue;
   
} */

.active{
    color: #6c2e84;
}



/* sidebar end */


/* main start */

.main{
    background-color: whitesmoke;
    padding: 1rem;
    min-width: 500px;

}
input {
    width: 50%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid gray;
    border-radius: 4px;
  }

  .alert {
    width: 50%;

    padding: 10px;
    background-color: #ff9891;
    color: rgb(148, 0, 0);
  }
  .alert-blue {
    width: 50%;

    padding: 10px;
    background-color: #b1e7fe;
    color: rgb(0, 62, 148);
  }

/* ---------- */
table{
    margin-top: 10px;
}
#custom-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#custom-table td, #custom-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#custom-table tr:nth-child(even){background-color: #f2f2f2;}
#custom-table tr:nth-child(odd){background-color: white;}


#custom-table tr:hover {background-color: #ddd;}

#custom-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #6c2e84;
  color: white;
}

.small-flag{
  width:50px;
}
.medium-flag{
  width:250px;
  margin-right: 30px;
}
/* ---------- */

/* main end */


/* single-country start */

.single-country{
  display: flex;
  justify-content: space-between;
  
}

/* single-country end */


/* region start */
.region-btn {
  text-transform: capitalize;
  font-weight: bold;
  padding: 10px 12px;
  cursor: pointer;
  margin: 0 5px;

  background-color: white;
  color: black;
  border: 2px solid #6c2e84;
}

.region-btn:focus {
  background-color: #6c2e84;
  color: white;
}
/* region end */





