
<table *ngIf="!isThereAnError" id="custom-table">
    <tr >
      <th>#</th>
      <th>flag</th>
      <th>name</th>
      <th>population</th>
      <th>capital</th>
      <th>-</th>


    </tr>
    <tr *ngFor="let country of countries; let i = index">
      <td>{{i+1}}</td>
      <td><img 
        [src]="country.flags.svg" 
        [alt]="country.name.common"
        class="small-flag"></td>
      <td>{{country.name.common}}</td>
      <td>{{country.population | number}}</td>
      <td>{{country.capital}}</td>


      <td><a 
        [routerLink]="['/country', country.cca2]">learn more...</a></td>
    </tr>
   
   
  </table>